
# Netlify configuration file

[build]
  # This is the command Netlify will run to build your site.
  command = "npm run build"

  # This is the directory that contains the built site.
  publish = "dist"

[[redirects]]
  # This rule is for single-page applications (SPAs).
  # It redirects all paths to the root index.html file.
  from = "/*"
  to = "/index.html"
  status = 200
